$custom-border-thickness: 6px;
$custom-border-color: #e3e3e3;
$custom-border-color-hover: #0065b3;

$custom-font-color: #0065b3;
$custom-font-color-hover: #00518f;

.repo-item {
  ul {
    li {
      a {
        color: $custom-font-color;
        border-inline-start: $custom-border-thickness solid $custom-border-color;

        &:hover {
          border-inline-start: $custom-border-thickness solid $custom-border-color-hover;
          color: $custom-font-color-hover;

          span {
            border-bottom: 2px solid $custom-font-color-hover;
          }
        }
      }
    }
  }
}
